/* .iframe-wrapper { */
/*   position: relative; */
/*   width: 100%; */
/*   padding-top: 56.25%; */
/* } */
.wrapper {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 95%;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 980px) {
    .wrapper {
      width: 95%;
    }
  }
.video-content {
  width: 100%;
  /* height: auto; */
}
